
footer {
  position: fixed;
  bottom: 1em;
  left: 0;
  right: 0;
}

footer a {
  font-family: Arial, sans-serif;
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  padding: 6px 12px;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  transition: 250ms;
}
footer a:hover {
  background-color: #286090;
  border-color: #204d74;
}

footer a.next {
  right: 1em;
}

footer a.previous {
  left: 1em;
}

li {
  margin: 3px;
}

.hidden {
  display: none;
}