div.popup {
  top: 0; left: 0; right: 0; bottom: 0;
  position: static;
  margin: auto;
  border-radius: 1em;
  text-align: center;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 0px 0px 10px gray;
}